# Core Framework
fastapi~=0.116.1
uvicorn[standard]~=0.35.0

# LLM & RAG
langchain~=0.3.26
boto3~=1.39.11
botocore
sagemaker                 # Optional, for other AWS use cases
chromadb

# Embeddings
sentence-transformers

# ML
scikit-learn~=1.7.1
pandas~=2.3.1
numpy~=2.3.1

# Data validation
pydantic~=2.11.7

# Logging & Monitoring
loguru~=0.7.3
python-dotenv~=1.1.1

# Dev & Testing
httpx
pytest

transformers~=4.53.3
langchain-core~=0.3.72
langchain-community~=0.3.27
langchain-aws~=0.2.29
langchain_chroma
joblib~=1.5.1